<!DOCTYPE html>
<html>

<head>
    <title>The Cat said No!</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link rel='stylesheet' href='../static/stylesheets/style.css' />
</head>

<body class="preload">
    <div class="centered">

        <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off"
            onclick="togglePaw()" id="main-button">
            <div class="handle"></div>
        </button>
        <div class="catpaw-container">
            <img class="catpaw-image" alt="myImage" src="../static/images/catpaw.png" />
        </div>
        <div>
            <h1 style="text-align:center;">Press the Button</h1>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="../static/javascript/main.js"></script>
        <script>
            $(window).load(function () {
                $("body").removeClass("preload");
            });
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>

</html>
